<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Subayai</string>
	<key>ordering</key>
	<array>
		<string>ca03173a-4933-40f4-b258-00511871a4f0</string>
	</array>
	<key>uuid</key>
	<string>B0795410-6818-4577-920D-11C2833F8C51</string>
</dict>
</plist>
